* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: aliceblue;
    margin: 40px auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.end,
.endwin  {
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    margin: 40px auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 10;
    padding: 30px;
    border-radius: 10px;
    transition: 0.5s;
    display: none;
}
.endactive,
.endwinactive {
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    margin: 40px auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 10;
    padding: 30px;
    border-radius: 10px;
    display: block;
}
.finished {
    pointer-events: none;
}

.info {
    color: slateblue;
    font-weight: 600;
    font-size: 30px;
    text-align: start;
    width: calc(100% - 50px);
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px auto;
}
.game {
    margin: auto;
    display: flex;
    max-width: 1000px;
    max-height: 600px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}

@media (max-width: 800px) {
    .game {
        flex-direction: column;
    }
    .info {
        font-size: 20px;
    }
    #draw {
        display: none;
    }
    
}

#draw {
    flex: 1;
    position: relative;
    background-color: white;
   
}
.stand {
    position: absolute;
    width: 100px;
    height: 4px;
    left: 200px;
    bottom: 20px;
    transform: translateX(-50%);
    background-color: black;
    display: none;
} 
.wrong-1 .stand {
    display: block;
}

.hang {
    display: none;
}
.wrong-1 .hang {
    display: block;
}
.hang::before {
    content: "";
    position: absolute;
    height: 270px;
    width: 4px;
    left: 200px;
    bottom: 24px;
    background-color: black;
}
.hang::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 85px;
    left: 200px;
    bottom: 270px;
    background-color: black;
}

.ropeline {
    position: absolute;
    height: 25px;
    width: 4px;
    left: 285px;
    bottom: 250px;
    background-color: black;
    display: none;
}

.wrong-2 .ropeline {
    display: block;
}

.rope {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 3px dashed black;
    border-radius: 50%;
    left: 285px;
    bottom: 190px;
    transform: translateX(-50%);
    display: none;
}
.wrong-3 .rope {
    display: block;
}


.head {
    position: absolute;
    width: 45px;
    height: 45px;
    border: 4px solid black;
    border-radius: 50%;
    left: 285px;
    bottom: 195px;
    transform: translateX(-50%);
    display: none;
}

.body {
    position: absolute;
    height: 100px;
    width: 4px;
    left: 285px;
    bottom: 95px;
    background-color: black;
    display: none;
}
.hands {
    display: none;
}
.hands::before {
    content: "";
    position: absolute; 
    width: 35px;
    height: 4px;
    left: 257px;
    bottom: 165px;
    background-color: black;
    transform: rotatez(30deg);
}
.hands::after {
    content: "";
    position: absolute; 
    width: 35px;
    height: 4px;
    left: 284px;
    bottom: 165px;
    background-color: black;
    transform: rotatez(-30deg);
}
.legs {
    display: none;
}
.legs::before {
    content: "";
    position: absolute; 
    width: 35px;
    height: 4px;
    left: 257px;
    bottom: 89px;
    background-color: black;
    transform: rotatez(-30deg);
}
.legs::after {
    content: "";
    position: absolute; 
    width: 35px;
    height: 4px;
    left: 284px;
    bottom: 89px;
    background-color: black;
    transform: rotatez(30deg);
}

.wrong-4 .head,
.wrong-4 .body,
.wrong-4 .hands,
.wrong-4 .legs {
    display: block;
}









.letters {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.letters span {
    display: inline-block; 
    width: 50px;
    height: 50px;
    color: white;
    background-color: blue;
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
    text-align: center;
    border-radius: 4px;
    line-height: 50px;
    cursor: pointer;
}
.letters span.clicked {
    background-color: beige;
    opacity: 0.8;
}

.wordletters {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.wordletters span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 40px;
    border-bottom: 4px solid black;
    margin: 10px;
    padding: 10pxpx;
}


.footer {
    text-align: center;
    background-color: white ;
    color: black;
    padding: 10px;
    margin-top: 10px;
}

.footer span {
    color: blue;
    font-weight: 500;
}



